*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";

}
  
  :root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #07dbca;
  }
  html {
    font-size: 60%;
    overflow-x: hidden;
  }
  body{
    background: var(--bg-color);
    color: var(--text-color);
  }
  .header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    z-index: 1000;
    
  }
  #menu-botao{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;

  }
  .logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;

  }
  .logo:hover{
    transform: scale(1.1);

  }
  span{
    background: linear-gradient(
      270deg,
      #08dfdf 10%,
      #1c09c4 100%
    );
    background-clip: text;
    color: transparent;

  }
   
  
    
    .navbar  ul{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    text-decoration:none ;
    justify-items: center;
    display: flex;
  
    list-style: none;
   

    }
    a{
      color: white;
    }
   
    

  
  .navbar  a:hover{
   color:var(--main-color);
   border-bottom: 3px solid var(--main-color);
   
  }
  .gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background :linear-gradient(
        270deg,
        #08dfc2 10%,
        #0804cc 100%

    );
    letter-spacing: 1px ;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;

  }
  .gradient-btn:hover{
    transform: scale(1.05);
  }
section{
    min-height: 100vh;
    padding: 10rem 15%;

}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;

}
.home-conteudo{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   text-align: right;

}
.home-conteudo h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-conteudo h3 {
    margin: 1rem 0;
    font-size: 4rem;
    

}
.home-conteudo p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
img{
    width: 32vw;
    border-radius: 45%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;

}
.img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.sobre-img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.sobre-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
  0 0 50px var(--main-color),
  0 0 100px var(--main-color);
}
.sobre-conteudo h2{
  font-size: 7rem ;
  text-align: left;
}
.sobre-conteudo p{
  font-size: 1.8rem;
}
.sobre-conteudo .gradient-btn{
  margin: 3rem 0;
}
.projetos{
  background-color: var(--second-bg-color);
}
.projetos-box{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}
.projetos-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
}
.projetos-card:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
              transform: scale(1.02);
}
.projetos-card img{
  max-width: 300px;
  border-radius: 2em;
  object-fit: cover;
}
.projetos-card h3{
  font-size: 3rem
}
.projetos-card p{
  font-size: 1.8rem;
}
.contatos{
  background-color: var(--bg-color);

}
.footer{
  background-color: var(--second-bg-color);
  padding: 50px 0;
}
.redes-sociais a{
  text-align: center;
  display: inline-flex;
  justify-content: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}
.redes-sociais a:hover{
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

  